version: '3.8'

services:
  build-jammy:
    image: docker:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/workspace
    working_dir: /workspace
    command: >
      sh -c "
        docker buildx build
          --target jammy
          --output type=local,dest=./output/jammy
          -f dalec-spry.yaml
          .
      "

  build-bookworm:
    image: docker:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/workspace
    working_dir: /workspace
    command: >
      sh -c "
        docker buildx build
          --target bookworm
          --output type=local,dest=./output/bookworm
          -f dalec-spry.yaml
          .
      "

  build-windows:
    image: docker:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/workspace
    working_dir: /workspace
    command: >
      sh -c "
        docker buildx build
          --target windowscross
          --output type=local,dest=./output/windows
          -f dalec-spry.yaml
          .
      "

